version: '3.8'
services:
  weaviate:
    command:
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8080"
      - "--scheme"
      - "http"
    image: semitechnologies/weaviate:1.23.9
    ports:
      - "8080:8080"
      - "50051:50051"
    restart: on-failure:0
    environment:
      QUERY_DEFAULTS_LIMIT: "25"
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "./data"
      DEFAULT_VECTORIZER_MODULE: "text2vec-openai"
      ENABLE_MODULES: "text2vec-openai,qna-openai"
      OPENAI_APIKEY: "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"  # For use with OpenAI. Setting this parameter is optional; you can also provide the key at query time.
      CLUSTER_HOSTNAME: "node1"
    volumes:
      - weaviate-data:/data
    networks:
      - default

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - weaviate
    volumes:
      - weaviate-data:/data
    networks:
      - default

networks:
  default:

volumes:
  weaviate-data:
